<%- include('../components/header'); -%>
<section class="gd-product padding-default hk-margin-top-100">
     <center>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="gd_contact">
                                <div id="message"></div>
                                <div class="gd-contact-form">
                                    <form class="register" name="self-registration">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <i class="fas fa-user"></i>
                                                <input class='input-style' type='text' name='uName' id='u-name' placeholder="Name" />
                                            </div>

                                            <div class="col-md-6">
                                                <i class="fas fa-mobile"></i>                                            
                                                <input class='input-style' type='text' name='mobile' id='mobile' placeholder="Mobile" />
                                            </div>

                                            <div class="col-md-6">
                                                <i class="fas fa-calendar"></i>            
                                                <input class='input-style' type='date' name='dob' id='dob' placeholder="DOB" />
                                            </div>

                                            <div class="col-md-6">
                                                <select name="sex" class='form-control hk-selct-opt' id="u-sex">
                                                    <option value="" disabled selected>Choose gender</option>
                                                    <option value="M">Male</option>
                                                    <option value="F">Femle</option>
                                                    <option value="O">Other</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6">
                                                <i class="fas fa-male"></i>            
                                                <input class="input-style" type='text' name='height' id='height' placeholder="Height" />
                                            </div>

                                            <div class="col-md-6">
                                                <i class="fas fa-weight"></i>            
                                                <input class="input-style" type='text' name='weight' id='weight' placeholder="Weight"/>
                                            </div>
                                            
                                            <div class='col-md-6'>
                                                <select name="bloodgp" class='form-control hk-selct-opt' id="b-group" style="margin-top: -5px;">
                                                    <option value="" disabled selected>Choose blood group</option>
                                                    <option value="o+">O+</option>
                                                    <option value="o+">O-</option>
                                                    <option value="a+">A+</option>
                                                    <option value="b+">B+</option>
                                                    <option value="ab+">AB+</option>
                                                    <option value="ab-">AB-</option>
                                                    <option value="a-">A-</option>
                                                    <option value="b-">B-</option>
                                                </select>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <i class="fas fa-at"></i>
                                                <input name="email" id="email" class="input-style" placeholder="Email" type="text">
                                            </div>
                                            
                                            <div class="col-md-6">
                                              <i class="fas fa-key"></i>
                                              <input name="password" id="password" class="input-style" placeholder="Password?" type="password">
                                            </div>
                                            <%if (locals.user) {
                                                if(locals.user.roles.indexOf('Admin') > -1){ 
                                            %>
                                            <div class="col-md-6">
                                                <select name="userType" class='form-control hk-selct-opt' id="userType" style="margin-top: -5px;">
                                                    <option value="" disabled>Choose user type</option>
                                                    <option value="User" selected>User</option>
                                                    <option value="Trainer">Trainer</option>
                                                    <option value="Owner">Owner</option>
                                                    <option value="Admin">Admin</option>
                                                </select>
                                            </div>
                                            <% } }%>
                                            
  

                                            <div class="col-md-6">
                                                <button type='submit' name='btn_login' class='btn'>Register</button>
                                            </div>
                                            <a href="/login">Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</section> 
<%- include('../components/footer'); -%>
    <script src="/js/jquery.validation.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/ajax/myApp.js"></script>
    <script>
        $(document).ready(function(){
            var task = {    
                initUserRegFrm:function(){
                    $('form[name="self-registration"]').validate({
                        rules:{
                            uName:{
                                required:true,
                                maxlength:50,
                                minlength:1
                            },
                            sex:{
                                required:true                    
                            },
                            dob:{
                                required:true
                            },
                            password:{
                                required:true,
                                maxlength:8,
                                minlength:4
                            } ,
                            mobile:{
                                required:true,
                                maxlength:10,
                                minlength:10
                            },
                            height:{
                                required:true,
                                number:true,
                                minlength:1
                            },    
                            weight:{
                                required:true,
                                number:true,
                                minlength:1
                            },
                            bloodgp:{
                                required:true
                            } 
                        },
                        messages:{
                            uName:{
                                required:"User name is required",
                                maxlength:"User name should be within 50 characters",
                                minlength:"User name should not be blank"
                            },
                            sex:{
                                required:"User gender required"
                            },
                            dob:{
                                required:"DOB is required"
                            },
                            actorDbp:{
                                required:"Password is required",
                                maxlength:"Password should be within 50 characters",
                                minlength:"Password should not be blank"
                            },
                            height:{
                                required:'Height is required',
                                minlength:'Height should not be blank',
                                number:'Height should not be text'
                            },
                            weight:{
                                required:'Weight is required',
                                minlength:'Weight should not be blank',
                                number:'Weight should not be text'
                            },
                            bloodgp:{
                                required:'Select a blood group'
                            }

                        },

                        errorElement:"div",
                        errorPlacement: function(error, element) {
                                var placement = $(element).data('error');
                                if (placement) {
                                    $(placement).append(error)
                                } else {
                                    error.insertAfter(element);
                                }
                        },
                        submitHandler:function(form){
                            var formData = $('form[name="self-registration"]').serializeObject();
                            app.selfRegister(formData).done(function(response){
                                if(response.status == true){
                                    // console.log(response.message);
                                    $('form[name="self-registration"]').trigger('reset'); 
                                }
                            });
                        }
                    });
                }
            }
            task.initUserRegFrm();
        });
    </script>
  </html>