<%- include('../components/header') -%>
<section class="gd-product padding-default hk-margin-top-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card hk-card-mg-bt-0">
                    <div class="card-block">
                        <h1 class="card-text good-review-score float-left">SUN</h1>
                        <h4 class="card-title">Sunday DIET DETAIL</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer hk-card-footer">
                        <p class="card-text text-right">Footer Text - Possible Link Out</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card hk-card-mg-bt-0">
                    <div class="card-block">
                        <h1 class="card-text good-review-score float-left">MON</h1>
                        <h4 class="card-title">MONDAY DIET DETAIL</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer hk-card-footer">
                        <p class="card-text text-right">Footer Text - Possible Link Out</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card hk-card-mg-bt-0">
                    <div class="card-block">
                        <h1 class="card-text good-review-score float-left">TUE</h1>
                        <h4 class="card-title">TUESDAY DIET DETAIL</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer hk-card-footer">
                        <p class="card-text text-right">Footer Text - Possible Link Out</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card hk-card-mg-bt-0">
                    <div class="card-block">
                        <h1 class="card-text good-review-score float-left">WED</h1>
                        <h4 class="card-title">WEDNESDAY DIET DETAIL</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer hk-card-footer">
                        <p class="card-text text-right">Footer Text - Possible Link Out</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card hk-card-mg-bt-0">
                    <div class="card-block">
                        <h1 class="card-text good-review-score float-left">THU</h1>
                        <h4 class="card-title">THURSDAY DIET DETAIL</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer hk-card-footer">
                        <p class="card-text text-right">Footer Text - Possible Link Out</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card hk-card-mg-bt-0">
                    <div class="card-block">
                        <h1 class="card-text good-review-score float-left">FRI</h1>
                        <h4 class="card-title">FRIDAY DIET DETAIL</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer hk-card-footer">
                        <p class="card-text text-right">Footer Text - Possible Link Out</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card hk-card-mg-bt-0">
                    <div class="card-block">
                        <h1 class="card-text good-review-score float-left">SAT</h1>
                        <h4 class="card-title">SATURDAY DIET DETAIL</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer hk-card-footer">
                        <p class="card-text text-right">Footer Text - Possible Link Out</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<%- include('../components/footer') -%>
