<%- include('../components/header') -%>
    <!-- About Section start -->
    <section class="gd-about padding-default" style="background-image: url(img/bg/1-1.jpg); background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-welcome-info-wrapper">
                        <h3>ABOUT US</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. Sed malesuada lectus ac turpis semper, in consequat tortor egestas. Sed rhoncus, est vitae venenatis tempor, lectus
                            enim convallis tellus, ut convallis neque massa ac lorem. Maecenas vitae lorem felis. Integer lorem ante, consectetur in elementum quis, aliquet at lorem. Integer nisl risus, porttitor vel hendrerit vitae, cursus id diam. </p>
                        <a class="btn btn-normal btn-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section end -->
<%- include('../components/footer') -%>