<%- include('../components/header') -%>
    <!-- Blog Section start -->
    <section class="gd-blog padding-default hk-margin-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="gd-blog-details item-gd">
                        <div class="gd-blog-meta">
                            <img src="img/blog/1.jpg" alt="blog">
                            <div class="gd-blog-date">
                                <h6>Nov - 09</h6>
                            </div>
                        </div>
                        <div class="gd-blog-info">
                            <h4><a href="#">24/7, We Never Stop Running</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="gd-blog-details item-gd">
                        <div class="gd-blog-meta">
                            <img src="img/blog/2.jpg" alt="blog">
                            <div class="gd-blog-date">
                                <h6>Oct - 11</h6>
                            </div>
                        </div>
                        <div class="gd-blog-info">
                            <h4><a href="#">Clesses Cost Diddly Squat</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="gd-blog-details item-gd">
                        <div class="gd-blog-meta">
                            <img src="img/blog/3.jpg" alt="blog">
                            <div class="gd-blog-date">
                                <h6>Sep - 13</h6>
                            </div>
                        </div>
                        <div class="gd-blog-info">
                            <h4><a href="#">never give up. fit yourself</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="gd-blog-details item-gd">
                        <div class="gd-blog-meta">
                            <img src="img/blog/4.jpg" alt="blog">
                            <div class="gd-blog-date">
                                <h6>Aug - 15</h6>
                            </div>
                        </div>
                        <div class="gd-blog-info">
                            <h4><a href="#">New cross fit course</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="gd-blog-details item-gd">
                        <div class="gd-blog-meta">
                            <img src="img/blog/5.jpg" alt="blog">
                            <div class="gd-blog-date">
                                <h6>Jul - 17</h6>
                            </div>
                        </div>
                        <div class="gd-blog-info">
                            <h4><a href="#">Fitness Body Combat</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="gd-blog-details item-gd">
                        <div class="gd-blog-meta">
                            <img src="img/blog/6.jpg" alt="blog">
                            <div class="gd-blog-date">
                                <h6>Jun - 18</h6>
                            </div>
                        </div>
                        <div class="gd-blog-info">
                            <h4><a href="#">Stretching body practice</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="gd-blog-details item-gd">
                        <div class="gd-blog-meta">
                            <img src="img/blog/7.jpg" alt="blog">
                            <div class="gd-blog-date">
                                <h6>May - 22</h6>
                            </div>
                        </div>
                        <div class="gd-blog-info">
                            <h4><a href="#">How to balance body</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="gd-blog-details item-gd">
                        <div class="gd-blog-meta">
                            <img src="img/blog/8.jpg" alt="blog">
                            <div class="gd-blog-date">
                                <h6>Apr - 26</h6>
                            </div>
                        </div>
                        <div class="gd-blog-info">
                            <h4><a href="#">Our Beautiful Bridesmaids</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="gd-blog-details item-gd">
                        <div class="gd-blog-meta">
                            <img src="img/blog/9.jpg" alt="blog">
                            <div class="gd-blog-date">
                                <h6>Mar - 29</h6>
                            </div>
                        </div>
                        <div class="gd-blog-info">
                            <h4><a href="#">Photos from the beach</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="gd-pagination-center">
                        <li><a href="#" title=""><i class="fas fa-angle-left"></i></a></li>
                        <li class="active"><a href="#" title="">1</a></li>
                        <li><a href="#" title="">2</a></li>
                        <li><a href="#" title="">3</a></li>
                        <li><a href="#" title=""><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section end -->
<%- include('../components/footer') -%>