<%- include('../components/header') -%>
<!-- Events Section start -->
<section class="gd-events padding-default hk-margin-top-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="gd-events-headline gd-headline text-center">
                    <h3>UPCOMING EVENTS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. </p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="gd-events-active owl-carousel">
                    <div class="gd-event-details">
                        <div class="gd-event-meta">
                            <img src="img/events/1.jpg" alt="events">
                            <div class="gd-event-date">
                                <h6><i class="far fa-calendar-alt"></i> JUN - 06 <i class="far fa-clock"></i> 6.00PM - 8.00PM</h6>
                            </div>
                        </div>
                        <div class="gd-event-info">
                            <h4><a href="#">Advanced Pilates</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="gd-event-details">
                        <div class="gd-event-meta">
                            <img src="img/events/2.jpg" alt="events">
                            <div class="gd-event-date">
                                <h6><i class="far fa-calendar-alt"></i> JUN - 11 <i class="far fa-clock"></i> 7.00PM - 8.00PM</h6>
                            </div>
                        </div>
                        <div class="gd-event-info">
                            <h4><a href="#">Advanced Aqua Zumba</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="gd-event-details">
                        <div class="gd-event-meta">
                            <img src="img/events/3.jpg" alt="events">
                            <div class="gd-event-date">
                                <h6><i class="far fa-calendar-alt"></i> JUN - 12 <i class="far fa-clock"></i> 6.00AM - 8.00AM</h6>
                            </div>
                        </div>
                        <div class="gd-event-info">
                            <h4><a href="#">Intermediate Stretching</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="gd-event-details">
                        <div class="gd-event-meta">
                            <img src="img/events/4.jpg" alt="events">
                            <div class="gd-event-date">
                                <h6><i class="far fa-calendar-alt"></i> JUN - 13 <i class="far fa-clock"></i> 6.00PM - 8.00PM</h6>
                            </div>
                        </div>
                        <div class="gd-event-info">
                            <h4><a href="#">Beginner Aqua Zumba</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="gd-more-link">
                    <a class="btn btn-normal" href="#">ALL EVENTS</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Events Section end -->
<%- include('../components/footer') -%>