<%- include('../components/header') -%>
    <!-- Trainers Section start -->
    <section class="gd-trainers padding-second hk-margin-top-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-trainers-headline gd-headline text-center">
                        <h3>Our Trainers</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-sl-active owl-carousel">
                        <div class="gd-trainer-details">
                            <div class="gd-trainer-meta">
                                <img src="img/trainers/1.jpg" alt="trainers">
                                <div class="gd-trainer-info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="gd-trainer-name">
                                    <h6><a href="#">Power | Fitness Coach</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="gd-trainer-details">
                            <div class="gd-trainer-meta">
                                <img src="img/trainers/2.jpg" alt="trainers">
                                <div class="gd-trainer-info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="gd-trainer-name">
                                    <h6><a href="#">Merry | Cardio Coach</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="gd-trainer-details">
                            <div class="gd-trainer-meta">
                                <img src="img/trainers/3.jpg" alt="trainers">
                                <div class="gd-trainer-info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="gd-trainer-name">
                                    <h6><a href="#">James | Yoga Coach</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="gd-trainer-details">
                            <div class="gd-trainer-meta">
                                <img src="img/trainers/1.jpg" alt="trainers">
                                <div class="gd-trainer-info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="gd-trainer-name">
                                    <h6><a href="#">Charles | Weight loss Coachr</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trainers Section end -->
<%- include('../components/footer') -%>