	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/05/2018 23:07
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-technology:before { content: "\f100"; }
.flaticon-note:before { content: "\f101"; }
.flaticon-users:before { content: "\f102"; }
.flaticon-shopping-basket:before { content: "\f103"; }
.flaticon-gym-1:before { content: "\f104"; }
.flaticon-gym:before { content: "\f105"; }
.flaticon-dumbbell:before { content: "\f106"; }
.flaticon-5-point-star:before { content: "\f107"; }
.flaticon-shield:before { content: "\f108"; }
.flaticon-hands:before { content: "\f109"; }
.flaticon-clock:before { content: "\f10a"; }
.flaticon-time:before { content: "\f10b"; }
.flaticon-like:before { content: "\f10c"; }
.flaticon-diamond:before { content: "\f10d"; }
.flaticon-support:before { content: "\f10e"; }