<%- include('components/header'); -%>
  <style>   
    body {
      background: #fff;
    }

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }

    ::placeholder{
      color: black;
      opacity: 1;
    }
  </style>
<section class="gd-product padding-default hk-margin-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="gd_contact">
                            <div id="message"></div>
                            <div class="gd-contact-form">
                                <form method="post" name="login-frm" id="login-frm">
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <i class="fas fa-at"></i>
                                            <input name="email" id="email" class="input-style" placeholder="Email" type="text">
                                        </div>
                                        
                                        <div class="col-md-12">
                                          <i class="fas fa-key"></i>
                                          <input name="password" id="password" class="input-style" placeholder="Password?" type="password">
                                        </div>

                                        <div class="col-md-12">
                                            <input class="btn" id="btn-login" name='btn_login' value="Login" type="button">
                                        </div>
                                        <a href="/register">Create account</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  

  <%- include('components/footer'); -%>
  <script src="/js/jquery.validation.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/sweetalert.min.js"></script>
  <script src="/ajax/myApp.js"></script>
  <script src="/admin/auth.js"></script>
</html>