
    <!-- Classes Section start -->
    <section class="gd-classes padding-second">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-classes-headline gd-headline text-center">
                        <h3>OUR CLASSES</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-sl-active owl-carousel">
                        <div class="gd-class-details">
                            <div class="gd-class-meta">
                                <img src="img/classes/1-1.jpg" alt="clacess">
                                <div class="gd-class-price">
                                    <h6>$39</h6>
                                </div>
                            </div>
                            <div class="gd-class-info">
                                <h4><a href="#">Cycling</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="gd-class-details">
                            <div class="gd-class-meta">
                                <img src="img/classes/2-2.jpg" alt="clacess">
                                <div class="gd-class-price">
                                    <h6>$59</h6>
                                </div>
                            </div>
                            <div class="gd-class-info">
                                <h4><a href="#">Martial Arts</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="gd-class-details">
                            <div class="gd-class-meta">
                                <img src="img/classes/3-5.jpg" alt="clacess">
                                <div class="gd-class-price">
                                    <h6>$49</h6>
                                </div>
                            </div>
                            <div class="gd-class-info">
                                <h4><a href="#">Yoga</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="gd-class-details">
                            <div class="gd-class-meta">
                                <img src="img/classes/1-2.jpg" alt="clacess">
                                <div class="gd-class-price">
                                    <h6>$29</h6>
                                </div>
                            </div>
                            <div class="gd-class-info">
                                <h4>Meditation</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Classes Section end -->

    <!-- Special Services Section start -->
    <section class="gd-sp-services" style="background-image: url(img/bg/1-2.jpg);background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-sp-services-details">
                        <div class="gd-sp-services-headline gd-headline">
                            <h3>Services</h3>
                        </div>
                        <ul>
                            <li>
                                <h6><i class="flaticon-gym-1"></i> Weight loss</h6>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            </li>
                            <li>
                                <h6><i class="flaticon-users"></i> Hardcore</h6>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            </li>
                            <li>
                                <h6><i class="flaticon-time"></i> Fitness</h6>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Special Services Section end -->

    <!-- Counter Section start -->
    <section class="gd-counter-section overlay-default padding-default" style="background: url(img/bg/02.jpg) no-repeat; background-size:cover">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3">
                    <div class="gd-counter">
                        <i class="flaticon-clock"></i>
                        <h1>1357</h1>
                        <h6>Working Hours</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="gd-counter">
                        <i class="flaticon-like"></i>
                        <h1>2054</h1>
                        <h6>Happy CLIENTS</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="gd-counter">
                        <i class="flaticon-hands"></i>
                        <h1>556</h1>
                        <h6>Success Stories</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="gd-counter">
                        <i class="flaticon-diamond"></i>
                        <h1>894</h1>
                        <h6>PerfectBodies</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section end -->

    <!-- Trainers Section start -->
    <section class="gd-trainers padding-second">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-trainers-headline gd-headline text-center">
                        <h3>Our Trainers</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-sl-active owl-carousel">
                        <div class="gd-trainer-details">
                            <div class="gd-trainer-meta">
                                <img src="img/trainers/1.jpg" alt="trainers">
                                <div class="gd-trainer-info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="gd-trainer-name">
                                    <h6><a href="#">Power | Fitness Coach</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="gd-trainer-details">
                            <div class="gd-trainer-meta">
                                <img src="img/trainers/2.jpg" alt="trainers">
                                <div class="gd-trainer-info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="gd-trainer-name">
                                    <h6><a href="#">Merry | Cardio Coach</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="gd-trainer-details">
                            <div class="gd-trainer-meta">
                                <img src="img/trainers/3.jpg" alt="trainers">
                                <div class="gd-trainer-info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="gd-trainer-name">
                                    <h6><a href="#">James | Yoga Coach</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="gd-trainer-details">
                            <div class="gd-trainer-meta">
                                <img src="img/trainers/1.jpg" alt="trainers">
                                <div class="gd-trainer-info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="gd-trainer-name">
                                    <h6><a href="#">Charles | Weight loss Coachr</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trainers Section end -->

    <!-- Summer Offer Section start -->
    <section class="gd-summer-off padding-default overlay-default" style="background: url(img/offers/4.jpg) no-repeat; background-size:cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-summer-info">
                        <h2>Hitness Classes This Summer</h2>
                        <h4>Pay Now And Get <span>30% Discount!</span></h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                            to using 'Content here, content here', making it look like readable English.</p>
                        <a class="btn btn-normal" href="#">BOOK NOW</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"></div>
            </div>
        </div>
    </section>
    <!-- Summer Offer Section end -->

    <!-- Get A Section start -->
    <section class="gd-get-a padding-get">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-get-info">
                        <h4>Got A Quastion? We would be happy to help!</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-get-link">
                        <a class="btn btn-normal btn-white" href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Get A Section end -->

    <!-- Our Gallery Section start -->
    <section class="gd-gallery padding-second">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-gallery-headline gd-headline text-center">
                        <h3>Our Gallery</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-gallery-active owl-carousel owl-theme">
                        <div class="gd-gallery-details">
                            <div class="gd-gallery-meta">
                                <img src="img/gallery/1.jpg" alt="gallery">
                                <div class="gd-gallery-overlay text-center">
                                    <div class="gd-table-all">
                                        <div class="gd-table-call">
                                            <a class="gd-popup-link" href="img/gallery/1.jpg"><i class="fas fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gd-gallery-details">
                            <div class="gd-gallery-meta">
                                <img src="img/gallery/2.jpg" alt="gallery">
                                <div class="gd-gallery-overlay text-center">
                                    <div class="gd-table-all">
                                        <div class="gd-table-call">
                                            <a class="gd-popup-link" href="img/gallery/2.jpg"><i class="fas fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gd-gallery-details">
                            <div class="gd-gallery-meta">
                                <img src="img/gallery/3.jpg" alt="gallery">
                                <div class="gd-gallery-overlay text-center">
                                    <div class="gd-table-all">
                                        <div class="gd-table-call">
                                            <a class="gd-popup-link" href="img/gallery/3.jpg"><i class="fas fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gd-gallery-details">
                            <div class="gd-gallery-meta">
                                <img src="img/gallery/4.jpg" alt="gallery">
                                <div class="gd-gallery-overlay text-center">
                                    <div class="gd-table-all">
                                        <div class="gd-table-call">
                                            <a class="gd-popup-link" href="img/gallery/4.jpg"><i class="fas fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Gallery Section end -->

    <!-- Popular Products Section start -->
    <section class="gd-products gd-white-space padding-second">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-products-headline gd-headline text-center">
                        <h3>Popular Products</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-sl-active owl-carousel">
                        <div class="gd-product-details">
                            <div class="gd-product-meta">
                                <img src="img/products/1.png" alt="popular products">
                                <div class="gd-product-offer">
                                    <h6>New</h6>
                                </div>
                                <div class="gd-product-overlay text-center">
                                    <div class="gd-table-all">
                                        <div class="gd-table-call">
                                            <a class="gd-det-link" href="#"><i class="fas fa-shopping-basket"></i></a>
                                            <a class="gd-det-link" href="#"><i class="fas fa-heart"></i></a>
                                            <a class="gd-det-link" href="#"><i class="fas fa-exchange-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gd-product-info">
                                <h4><a href="#">Power Combat 1</a></h4>
                                <div class="gd-product-price clearfix mt-2">
                                    <h6 class="fa-pull-left m-0">$13.99 <small><del>$33.99</del></small></h6>
                                    <ul class="d-flex fa-pull-right">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <a class="shop-btn" href="#"><i class="fas fa-shopping-basket"></i> Add to Cart <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="gd-product-details">
                            <div class="gd-product-meta">
                                <img src="img/products/2.png" alt="popular products">
                                <div class="gd-product-offer">
                                    <h6>Hot</h6>
                                </div>
                                <div class="gd-product-overlay text-center">
                                    <div class="gd-table-all">
                                        <div class="gd-table-call">
                                            <a class="gd-det-link" href="#"><i class="fas fa-shopping-basket"></i></a>
                                            <a class="gd-det-link" href="#"><i class="fas fa-heart"></i></a>
                                            <a class="gd-det-link" href="#"><i class="fas fa-exchange-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gd-product-info">
                                <h4><a href="#">Power Combat 2</a></h4>
                                <div class="gd-product-price clearfix mt-2">
                                    <h6 class="fa-pull-left m-0">$13.99 <small><del>$33.99</del></small></h6>
                                    <ul class="d-flex fa-pull-right">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <a class="shop-btn" href="#"><i class="fas fa-shopping-basket"></i> Add to Cart <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="gd-product-details">
                            <div class="gd-product-meta">
                                <img src="img/products/3.png" alt="popular products">
                                <div class="gd-product-offer">
                                    <h6>40% OFF</h6>
                                </div>
                                <div class="gd-product-overlay text-center">
                                    <div class="gd-table-all">
                                        <div class="gd-table-call">
                                            <a class="gd-det-link" href="#"><i class="fas fa-shopping-basket"></i></a>
                                            <a class="gd-det-link" href="#"><i class="fas fa-heart"></i></a>
                                            <a class="gd-det-link" href="#"><i class="fas fa-exchange-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gd-product-info">
                                <h4><a href="#">Power Combat 3</a></h4>
                                <div class="gd-product-price clearfix mt-2">
                                    <h6 class="fa-pull-left m-0">$13.99 <small><del>$33.99</del></small></h6>
                                    <ul class="d-flex fa-pull-right">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <a class="shop-btn" href="#"><i class="fas fa-shopping-basket"></i> Add to Cart <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="gd-product-details">
                            <div class="gd-product-meta">
                                <img src="img/products/4.png" alt="popular products">
                                <div class="gd-product-offer">
                                    <h6>New</h6>
                                </div>
                                <div class="gd-product-overlay text-center">
                                    <div class="gd-table-all">
                                        <div class="gd-table-call">
                                            <a class="gd-det-link" href="#"><i class="fas fa-shopping-basket"></i></a>
                                            <a class="gd-det-link" href="#"><i class="fas fa-heart"></i></a>
                                            <a class="gd-det-link" href="#"><i class="fas fa-exchange-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gd-product-info">
                                <h4><a href="#">Power Combat 4</a></h4>
                                <div class="gd-product-price clearfix mt-2">
                                    <h6 class="fa-pull-left m-0">$13.99 <small><del>$33.99</del></small></h6>
                                    <ul class="d-flex fa-pull-right">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <a class="shop-btn" href="#"><i class="fas fa-shopping-basket"></i> Add to Cart <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Popular Products Section end -->

    <!-- Get A Section start -->
    <section class="gd-get-a padding-get">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-get-info">
                        <h4>DON’T KNOW WHICH SPORT SUITS YOU?</h4>
                        <p>This test will help determine what kind of sport suits you best.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-get-link">
                        <a class="btn btn-normal btn-white" href="#">PASS THE TEST</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Get A Section end -->

    <!-- Events Section start -->
    <section class="gd-events padding-default">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-events-headline gd-headline text-center">
                        <h3>UPCOMING EVENTS</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-events-active owl-carousel">
                        <div class="gd-event-details">
                            <div class="gd-event-meta">
                                <img src="img/events/1.jpg" alt="events">
                                <div class="gd-event-date">
                                    <h6><i class="far fa-calendar-alt"></i> JUN - 06 <i class="far fa-clock"></i> 6.00PM - 8.00PM</h6>
                                </div>
                            </div>
                            <div class="gd-event-info">
                                <h4><a href="#">Advanced Pilates</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="gd-event-details">
                            <div class="gd-event-meta">
                                <img src="img/events/2.jpg" alt="events">
                                <div class="gd-event-date">
                                    <h6><i class="far fa-calendar-alt"></i> JUN - 11 <i class="far fa-clock"></i> 7.00PM - 8.00PM</h6>
                                </div>
                            </div>
                            <div class="gd-event-info">
                                <h4><a href="#">Advanced Aqua Zumba</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="gd-event-details">
                            <div class="gd-event-meta">
                                <img src="img/events/3.jpg" alt="events">
                                <div class="gd-event-date">
                                    <h6><i class="far fa-calendar-alt"></i> JUN - 12 <i class="far fa-clock"></i> 6.00AM - 8.00AM</h6>
                                </div>
                            </div>
                            <div class="gd-event-info">
                                <h4><a href="#">Intermediate Stretching</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="gd-event-details">
                            <div class="gd-event-meta">
                                <img src="img/events/4.jpg" alt="events">
                                <div class="gd-event-date">
                                    <h6><i class="far fa-calendar-alt"></i> JUN - 13 <i class="far fa-clock"></i> 6.00PM - 8.00PM</h6>
                                </div>
                            </div>
                            <div class="gd-event-info">
                                <h4><a href="#">Beginner Aqua Zumba</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-more-link">
                        <a class="btn btn-normal" href="#">ALL EVENTS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Events Section end -->

    <!-- Testimonials Section start -->
    <section class="gd-testimonials padding-default overlay-default" style="background: url(img/bg/1-3.jpg) no-repeat; background-size:cover">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-testimonials-headline gd-headline text-center">
                        <h3>TESTIMONIALS</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-testimonial-active owl-carousel">
                        <div class="gd-testimonial-details">
                            <div class="gd-testimonial-meta fa-pull-left">
                                <img src="img/testimonial/1.png" alt="testimonial" width="150">
                            </div>
                            <div class="gd-testimonial-info">
                                <h4>CEO</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <small>David Fahim</small>
                            </div>
                        </div>
                        <div class="gd-testimonial-details">
                            <div class="gd-testimonial-meta fa-pull-left">
                                <img src="img/testimonial/2.png" alt="testimonial" width="150">
                            </div>
                            <div class="gd-testimonial-info">
                                <h4>CTM</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <small>Honey Jisa</small>
                            </div>
                        </div>
                        <div class="gd-testimonial-details">
                            <div class="gd-testimonial-meta fa-pull-left">
                                <img src="img/testimonial/3.png" alt="testimonial" width="150">
                            </div>
                            <div class="gd-testimonial-info">
                                <h4>Teacher</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                                <small>Riya Kazi</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials Section end -->

    <!-- Get In Touch Section start -->
    <section class="gd-touch">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.30601359607!2d-74.25987105452268!3d40.69714940585523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1527841460700"
            style="border:0;" allowfullscreen></iframe>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-touch-info-wrapper">
                        <h3>GET IN TOUCH</h3>
                        <form id="gdcontactform" method="POST" action="#" class="gd-contact-form_1">
                            <input id="name" name="name" type="text" placeholder="Your Name">
                            <input id="email" name="email" type="text" placeholder="Your Email">
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                            <button id="submit" class="btn btn-normal btn-white" type="submit">SEND MESSAGE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Get In Touch Section end -->

    <!-- Offer Section start -->
    <section class="offers">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="gd-offer overlay-default" style="background: url(img/offers/1.jpg) no-repeat 0 0;background-size: cover;">
                        <div class="offer-content">
                            <h4>Free Lesson</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a class="btn btn-normal" href="#">GET A QUOTES</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="gd-offer overlay-default" style="background: url(img/offers/2.jpg) no-repeat 0 0;background-size: cover;">
                        <div class="offer-content">
                            <h4>Workout Routein</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a class="btn btn-normal" href="#">GET A QUOTES</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="gd-offer overlay-default" style="background: url(img/offers/3.jpg) no-repeat 0 0;background-size: cover;">
                        <div class="offer-content">
                            <h4>Individual Support</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. </p>
                            <a class="btn btn-normal" href="#">GET A QUOTES</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Offer Section end -->

    <!-- About Section start -->
    <section class="gd-about" style="background-image: url(img/bg/1-1.jpg); background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="gd-welcome-info-wrapper">
                        <h3>ABOUT US</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue dapibus convallis. Proin eu ex tellus. Sed malesuada lectus ac turpis semper, in consequat tortor egestas. Sed rhoncus, est vitae venenatis tempor, lectus
                            enim convallis tellus, ut convallis neque massa ac lorem. Maecenas vitae lorem felis. Integer lorem ante, consectetur in elementum quis, aliquet at lorem. Integer nisl risus, porttitor vel hendrerit vitae, cursus id diam. </p>
                        <a class="btn btn-normal btn-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section end -->

    <!-- Services Section start -->
    <section class="gd-services overlay-default" style="background: url(img/bg/02.jpg) no-repeat; background-size:cover">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3">
                    <div class="gd-service">
                        <i class="flaticon-support"></i>
                        <h6>FREE CONSULTATION</h6>
                        <p>Integer nisl risus, porttitor vel hendrerit vitae, cursus id diam. </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="gd-service">
                        <i class="flaticon-5-point-star"></i>
                        <h6>EXCELLENT SERVICE</h6>
                        <p>Integer nisl risus, porttitor vel hendrerit vitae, cursus id diam. </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="gd-service">
                        <i class="flaticon-shield"></i>
                        <h6>BEST TRAINERS</h6>
                        <p>Integer nisl risus, porttitor vel hendrerit vitae, cursus id diam. </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="gd-service">
                        <i class="flaticon-hands"></i>
                        <h6>WORK PROGRAMS</h6>
                        <p>Integer nisl risus, porttitor vel hendrerit vitae, cursus id diam. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section end -->

