<!-- Footer start -->
<footer class="gd-footer-section padding-footer overlay-default" style="background: url(../img/bg/1-4.jpg) no-repeat; background-size:cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="gd-single-footer-widget">
                    <span class="hk-footer-logo-ch">Handshakeyou.com</span>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor nvidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="gd-single-footer-widget">
                    <h5>QUICK LINKS</h5>
                    <ul>
                        <li><a href="#">Classes</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Membership Plan</a></li>
                        <li><a href="#">Diet Plan</a></li>
                        <li><a href="#">Daily workout</a></li>
                        <li><a href="#">Products</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="gd-single-footer-widget">
                    <h5>LATEST TWEETS</h5>
                    <ul>
                        <li>
                            <i class="fas fa-minus"></i><a href="#">If you need a crown or
                            lorem an implant you will pay it gap</a>
                            <br>
                            <span>July 2, 2014</span>
                        </li>
                        <li>
                            <i class="fas fa-minus"></i><a href="#">If you need a crown or
                            lorem an implant you will pay it gap</a>
                            <br>
                            <span>July 2, 2014</span>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="gd-single-footer-widget">
                    <h5>ADDRESS</h5>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i>Berhampur</li>
                        <li><i class="fas fa-phone"></i> 787-316-0006</li>
                        <li><i class="fas fa-envelope"></i> mantupani17@gmail.com</li>
                    </ul>
                    <h5 class="gd-subcribe">SUBCRIBE</h5>
                    <form class="gd-sub-form" action="#" method="POST">
                        <input name="name" type="text">
                        <button><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="gd-copyright-area">
        <div class="container">
            <div class="gd-copyright text-center">
                <p>Copyright © 2018 Designed by Mantu pani. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->
<!-- jquery-->
<script src="../js/vendor/jquery.min.js"></script>
<!-- Modernizr js-->
<script src="../js/vendor/modernizr-3.6.0.min.js"></script>
<!-- Counterup js-->
<script src="../js/jquery.counterup.min.js"></script>
<!-- MeanMenu js-->
<script src="../js/jquery.meanmenu.min.js"></script>
<!-- Waypoints js-->
<script src="../js/waypoints.min.js"></script>
<!-- Popper js-->
<script src="../js/popper.min.js"></script>
<!-- Bootstrap js-->
<script src="../js/bootstrap.min.js"></script>
<!-- Owl js-->
<script src="../js/owl.carousel.min.js"></script>
<!-- Magnific js-->
<script src="../js/jquery.magnific-popup.min.js"></script>
<!-- Plugins js-->
<script src="../js/plugins.js"></script>
<!-- Main js-->
<script src="../js/main.js"></script>
<!-- Scrolltopcontrol js-->
<script src="../js/scrolltopcontrol.js"></script>
</body>
