<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link href="/css/materialize.css" rel="stylesheet">
        <link href="/css/materialize.min.css" rel="stylesheet">
        <link href="/fonts/google.fonts.css" rel="stylesheet">
        <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <%- include('../frontend/master') -%>
                